body li {
	list-style: none
}

td.weekOld_0 {
	background: #DEDEDE;
}


.postIt {
	background:#fefabc; 
	padding: 6px 6px;
	margin: 10px;
	font-size:15px; 
	color: #000; 
	width:236px; 
	font-size: 10px;
	box-shadow: 0px 4px 6px #333;
	-moz-box-shadow: 0px 4px 6px #333;
	-webkit-box-shadow: 0px 4px 6px #333;
	cursor: pointer;
}

#relDialog .postIt {
	cursor: default
}

#relDialog .postIt a {
	font-weight: bold !important;
}

.colorPrev {
	background:#fefabc;
}

.postIt a {
	color: #000 !important;
}

.postIt .title {
	font-size: 12px;
}

.postIt .dueDate {
	padding: 4px 0px;
}

.postIt .done {
	clear: both;
	float: none;
	margin-top: 4px;
}

.postIt .estimated, .postIt .todaysHours {
	float: right;
	font-weight: bold;
	font-size: 80%;
}

.postIt .error, .postIt.error .todaysHours {
	color: #ff0000;
	white-space: nowrap;
}

.postIt .projectName {
	border-top: 1px solid #8f8f8f;
	padding-top: 2px;
	margin-top: 2px;
	font-size: 10px !important;
}

.postIt .hidden {
	margin-top: 4px;
}

.postIt hr {
	border: 0px !important;
	background: #8f8f8f;
}

.closedIssue {
	opacity: 0.55;
	-webkit-opacity: 0.55;
	filter:alpha(opacity=55);	
}

.delayedIssue {
	background-color: #ff0000 !important;
	padding-left: 40px;
	width: 202px !important;
	background-image: url("../images/dialog-warning-2.png");
	background-position: left 3px center;
	background-repeat: no-repeat;
	background-size: 32px auto;
}

.serviceIssue {
	padding-left: 40px;
	width: 202px !important;
	background-image: url("../images/service_icon.png");
	background-position: left 5px center;
	background-repeat: no-repeat;
	background-size: 28px auto;
}

.delayedIssue.serviceIssue {
	background-image: url("../images/service_icon.png"), url("../images/dialog-warning-2.png");	
	background-position: left 3px top 3px, left 3px bottom 3px;
	background-repeat: no-repeat;
	background-size: 19px auto, 19px auto;
}

h4.delay {
	padding-left: 20px;
	background-image: url("../images/dialog-warning-2.png");
	background-position: left 3px center;
	background-repeat: no-repeat;
	background-size: 16px auto;
	margin-bottom: 3px;
	margin-top: 4px;
}

/* THE WALL ITSELF */
#whitewall li {
	list-style: none;
}

#scroll {
}

#wall table {
}

#wall table tr td:first-child {
	width: 240px;
	white-space:nowrap;
}

#wall table tr td {
	width: 260px;
}

#wall thead td {
	text-align: center;
	font-weight: bold;
	color: #606060;
}

#wall tbody ul {
	min-height: 100%;
	margin: 0px;
	padding: 0px 0px;
	min-height: 32px;
}

#wall tbody td, #wall tbody th {
	vertical-align: top !important;
}

#wall fieldset {
	border: 0px;
}

#wall fieldset .colorPrev {
	width: 10px;
	height: 10px;
	float: none;
	margin-bottom: -1px;
}

#wall fieldset label {
	float: none;
	margin-top: -2px;
	margin-right: 6px;
}

#wall legend {
	font-weight: bold;
}

#wall .tracker.open {
	opacity: 0.55;
	-webkit-opacity: 0.55;
	filter:alpha(opacity=55);
}

.tracker, .tracker label {
	cursor: pointer !important;
}

.graph #scroll {
	clear: both;
	margin-top: 40px;
	padding-bottom: 100px !important;
	margin-bottom: 100px !important;
}

#scroll .sticky-wrap {
	padding-bottom: 40px !important;	
}

.totals {
	padding: 0px 10px 4px 28px;
}

.totals span {
	font-weight: bold;
}

.weeklyGraph {
	width: 380px;
	height: 70px;
	margin: 5px 10px;
}

/* FILTER */
#filter {
	float: right;
	margin-top: -30px;
}

#filter input[type=text] {
	width: 100px;
}

#noRel, #stats a, #statsBack a, #statsOverall a, #showDetails, #showUsers div {
    background-position: 0 40%;
    background-repeat: no-repeat;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-top: 2px;
    padding-right: 6px;
    margin-right: 2px;
    margin-left: 4px;
    background-image: url("../images/stop.png");
    cursor: pointer;
}


#stats a {
    background-image: url("../images/chart.png");	
    border-right: 1px solid #606060;
}

#statsBack a {
    background-image: url("../images/note.png");	
    border-right: 1px solid #606060;	
}

#statsOverall a {
    background-image: url("../images/chartOverall.png");	
    border-right: 1px solid #606060;
}

#showDetails {
    background-image: url("../images/info.png");
}

#showUsers {
	background: none;
    position: relative;
    padding-right: 0px !important;
    margin-right: 2px !important;
}

#showUsers div {
    background-image: url("../images/group.png");
    padding-right: 2px;
}

#showUsers ul {
	display: none;
	position: absolute;
	width: 300px;
	background: #fff;
	box-shadow: 0px 4px 6px #333;
	-moz-box-shadow: 0px 4px 6px #333;
	-webkit-box-shadow: 0px 4px 6px #333;
	z-index: 500;
	right: 0px;
}

#showUsers li label {
	display: block;
	padding: 10px;
}

#showUsers li b {
	padding: 5px;
	cursor: pointer;
}

#showUsers div {
	display: inline;
}

#relDialog {
	display: none;
}

#relSort { list-style-type: none; margin: 0; padding: 0; }
#relSort li { margin: 10px; float: left; width: 200px; }

#wallFunctions {
	text-align: right;
	margin-top: 10px;
}

#wallFunctions span {
    border-right: 1px solid #606060;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-top: 2px;
    padding-right: 6px;
    margin-left: 4px;
}

#wallFunctions span:last-child {
	border-right: 0px !important;
	margin-left: 2px;
}

#wallFunctions ul {
	padding-left: 0px;
	margin-left: 0px;
	max-height: 400px;
	overflow-y: auto;
}


#wallFunctions li {
	padding-left: 0px;
	margin-left: 0px;
	text-align: left;
}

#wallFunctions li.invert {
	clear: both !important;
	float: none !important;
	display: block;
	text-align: right;
	padding: 10px 0px;
}

.whitewallTip {
	font-size: 12px !important;
	border: 1px solid #ddd !important;
	box-shadow: none !important;
	padding: 3px 5px;
}

/* JQUERY UI MODs */
.ui-dialog {
	z-index: 9999;
}

#from, #to {
	position: relative;
	z-index: 500;
}


.ui-progressbar {
	height: 6px !important;
	
}

.ui-progressbar .ui-widget-header {
	font-size: 10px !important;
	color: #999999;
	text-align: center;
}

.jqplot-highlighter-tooltip, .jqplot-canvasOverlay-tooltip {
    font-size: 1.5em !important;
    padding: 0px 4px !important;
}


#timespan input[type=text] {
	border: 2px solid #c1c1c1;
}

#timespan input.error {
	border: 2px solid #ff0000 !important;
}

.jqplot-table-legend td {
	width: auto !important;
	float: right !important;
	padding: 2px !important;
}

.jqplot-table-legend {
	width: auto !important;
}


#tab-evolutions #timespan {
	border-bottom: 1px solid #dedede;
	margin-bottom: 10px;
	padding-bottom: 6px;
}


.graphOverall #wallFunctions {
	float: right;
}

.allgraph {
	margin-bottom: 40px;
}

.praiseEmployee {
	display: block;
	width: 60px;
	height: 60px;
	background-image: url("../images/like.png");
	background-size: 60px auto;
	margin-top: 4px;	
}