<p id="editor">
	<label for='issue_editor_id'><%= l(:field_editor) %>:</label>
	<%   %>
	<% if @issue.editor_id != 0 %>
		<%= User.find(@issue.editor_id) %>
	<% else %>
		No one is taking care of Business! ... Chop chop ...
	<% end %>
</p>
