<div class="splitcontent">
	<div class="editor attribute">
		<div class="label"><%= l(:field_editor) %>:</div>
		<div class="value">
			<% if @issue.editor_id.nil? %>
				<span>Specify User!</span>
			<% else %>
				<span><%= User.find(@issue.editor_id).name %></span>
			<% end %>
		</div>
	</div>
</div>
