<p>
	<label for='issue_editor_id'><%= l(:field_editor) %></label>
	<% @Users = User.all %>
	<% if current_page?(url_for(:controller => 'issues', :action => 'new')) %>
		<%= select_tag('issue[editor_id]', principals_options_for_select(@Users, selected=User.current)) %>		
	<% else %>
			<% if @issue.editor_id.nil? %>
				<%= select_tag('issue[editor_id]', principals_options_for_select(@Users, selected=User.find(0))) %>		
			<% else %>
				<%= select_tag('issue[editor_id]', principals_options_for_select(@Users, selected=User.find(@issue.editor_id))) %>
			<% end %>
	<% end %>
</p>
